#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#content5-6 .caption h3 {
  color: #fff;
}
#content5-6 P {
  color: #fff;
}
#msg-box1-11 h2 {
  color: #fff;
}
#msg-box1-11 p {
  color: #fff;
}
#ext_menu-25 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-25.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-25 .mbr-navbar__section {
  background: #2c2c2c;
}
#msg-box1-28 h2 {
  color: #fff;
}
#msg-box1-28 p {
  color: #fff;
}
#msg-box2-29 h2 {
  color: #252525;
}
#msg-box2-29 p {
  color: #252525;
}
